p {
    color: blueviolet;
    font-size: 20px;
    text-align: justify;
    background-color: lightpink;
}

.para01 {
    border: 5px solid #4b3621;
    padding: 25px;
    color: whitesmoke;
    background-color: darkblue;
}

.para02 {
    border: 3px solid #4b3621;
    padding: 25px;
    color: skyblue;
    background-color: blueviolet;
}